
falco/.idea/**
falco/data/brief/**
falco/data/ws/**


data/material/*.npy
zOld/**

**.fits
**.pkl
examples/**.pkl
**.DS_Store

build/
dist/
docs/_build
*.pyc
*.o
*.so
*.egg-info
*.swp
*.mat
*~


# Exceptions
!falco/data/brief/.placeholder.txt
!falco/data/ws/.placeholder.txt

