
falco/.idea/**
falco/data/brief/**
falco/data/ws/**


data/material/*.npy
zOld/**

#--Sync only example files
roman/*.m
!roman/EXAMPLE_*
data/WFIRST/PhaseB/*.fits


# **.fits
**.pkl
examples/**.pkl
**.DS_Store

build/
dist/
docs/_build
*.pyc
*.o
*.so
*.egg-info
*.swp
*.mat
*~


# Exceptions #

!.placeholder.txt
!**/.placeholder.txt
!**/*.placeholder.txt
!falco/data/brief/.placeholder.txt
!falco/data/config/.placeholder.txt
!falco/data/ws/.placeholder.txt
!roman/flatmaps/.placeholder.txt
!roman/flatmaps/*.fits


